
HUBSPOT_TOKEN=pat-na2-a56a7e6d-ad0e-4fb1-abc2-021bc2037ffd
OPENAI_API_KEY=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
OUTPUT_DIR=./downloads
